body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: white;
}

.wrapper {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

header {
  background: url("../img/header_bg.png") 0 0/cover no-repeat;
}

header .header__navbar-fixed {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 156px;
  background-color: white;
}

header .header__navbar-fixed .header__navbar {
  margin-top: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__navbar-fixed .header__navbar .header__logo a img {
  max-width: 100%;
}

header .header__navbar-fixed .header__navbar .header__nav {
  width: 40%;
}

header .header__navbar-fixed .header__navbar .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__navbar-fixed .header__navbar .header__nav ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #252B42;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .header__navbar-fixed .header__navbar .header__nav ul li a:hover {
  color: #FA4A0C;
}

header .header__navbar-fixed .header__navbar .header__burger-menu {
  display: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #252B42;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  width: 20px;
  height: 16px;
  cursor: pointer;
}

header .header__navbar-fixed .header__navbar .header__burger-menu::before, header .header__navbar-fixed .header__navbar .header__burger-menu::after {
  position: absolute;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #898989;
  border-radius: 20%;
}

header .header__navbar-fixed .header__navbar .header__burger-menu::before {
  top: 0;
}

header .header__navbar-fixed .header__navbar .header__burger-menu::after {
  bottom: 0;
}

header .header__navbar-fixed .header__navbar .header__burger-menu span {
  position: absolute;
  top: 38%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #898989;
  border-radius: 20%;
}

header .header__body {
  margin-top: 156px;
  padding: 5% 0 15%;
  text-align: center;
}

header .header__body .header__text {
  margin-bottom: 5%;
}

header .header__body .header__text h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1%;
}

header .header__body .header__text p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: white;
  margin: 0 auto;
}

header .header__body .header__text p:nth-child(3) {
  margin-bottom: 3%;
}

header .header__body .header__text h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}

header .header__body .header__market {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 37%;
  margin: 0 auto;
}

header .header__body .header__market a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 3% 12%;
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 1;
}

header .header__body .header__market a:hover {
  background-color: #FA4A0C;
  border: 1px solid #FA4A0C;
}

@media screen and (max-width: 1400px) {
  header .header-wrapper .header__body .header__market a {
    padding: 3% 8%;
  }
}

@media screen and (max-width: 1400px) and (max-width: 1100px) {
  header .header-wrapper .header__body .header__market {
    max-width: 55%;
  }
}

@media screen and (max-width: 1400px) and (max-width: 1100px) and (max-width: 769px) {
  header {
    position: relative;
    background: #FAFAFA 0 0 / cover no-repeat;
  }
  header .header__navbar-fixed {
    max-height: 10vh;
    z-index: 2;
  }
  header .header__navbar-fixed .header-wrapper .header__navbar {
    margin-top: 0;
    max-height: 10vh;
  }
  header .header__navbar-fixed .header-wrapper .header__navbar .header__logo {
    max-width: 25%;
  }
  header .header__navbar-fixed .header-wrapper .header__navbar .header__nav ul {
    display: block;
    position: absolute;
    top: 10vh;
    left: 120vh;
    width: 100vw;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: rgba(250, 74, 12, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  header .header__navbar-fixed .header-wrapper .header__navbar .header__nav ul li a {
    color: white;
    font-size: 3rem;
  }
  header .header__navbar-fixed .header-wrapper .header__navbar .header__nav ul.active {
    left: 0;
  }
  header .header__navbar-fixed .header-wrapper .header__navbar .header__burger-menu {
    display: block;
  }
  header .header__navbar-fixed .header-wrapper .header__navbar .header__burger-menu.active.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all .3s;
    transition: all .3s;
    top: 40%;
  }
  header .header__navbar-fixed .header-wrapper .header__navbar .header__burger-menu.active.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all .3s;
    transition: all .3s;
    bottom: 43%;
  }
  header .header__navbar-fixed .header-wrapper .header__navbar .header__burger-menu.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  header .header-wrapper .header__body {
    margin-top: 10vh;
  }
  header .header-wrapper .header__body .header__text h3 {
    color: #737373;
    font-size: 1rem;
    margin-bottom: 5%;
  }
  header .header-wrapper .header__body .header__text p {
    color: #252B42;
    font-size: 2.5rem;
    line-height: 3rem;
  }
  header .header-wrapper .header__body .header__text p:nth-child(3) {
    margin-bottom: 5%;
  }
  header .header-wrapper .header__body .header__text h4 {
    color: #737373;
    font-size: 1.5rem;
    margin-bottom: 8%;
  }
  header .header-wrapper .header__body .header__market {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-wrapper .header__body .header__market a {
    border-color: #FA4A0C;
    color: #FA4A0C;
    margin-top: 3%;
    padding: 7% 20%;
    border-radius: 30px;
  }
  header .header-wrapper .header__body .header__market a:first-child {
    margin-top: 0;
  }
  header .header-wrapper .header__body .header__market a:hover {
    color: white;
  }
}

@media screen and (max-width: 1400px) and (max-width: 1100px) and (max-width: 769px) and (max-width: 482px) {
  header .header__navbar-fixed .header-wrapper .header__navbar {
    margin-top: 1%;
  }
  header .header__navbar-fixed .header-wrapper .header__navbar .header__logo {
    max-width: 45%;
  }
  header .header-wrapper .header__body .header__market {
    max-width: 100%;
  }
}

main .app-demo .wrapper .app-demo__bottom-line {
  position: relative;
  border-bottom: 3px solid #E4E4E4;
  max-width: 80%;
  margin: 0 auto;
  height: 600px;
}

main .app-demo .wrapper .app-demo__bottom-line img {
  position: absolute;
  top: -50%;
  left: 10%;
}

@media screen and (max-width: 1100px) {
  main .app-demo .wrapper .app-demo__bottom-line img {
    top: -35%;
    left: 5%;
  }
}

@media screen and (max-width: 1100px) and (max-width: 870px) {
  main .app-demo .wrapper .app-demo__bottom-line img {
    left: -11%;
  }
}

@media screen and (max-width: 1100px) and (max-width: 769px) {
  main .app-demo .wrapper .app-demo__bottom-line {
    max-width: 100%;
  }
  main .app-demo .wrapper .app-demo__bottom-line img {
    max-width: 100%;
  }
}

@media screen and (max-width: 1100px) and (max-width: 769px) and (max-width: 650px) {
  main .app-demo .wrapper .app-demo__bottom-line img {
    top: -25%;
  }
}

@media screen and (max-width: 1100px) and (max-width: 769px) and (max-width: 482px) {
  main .app-demo .wrapper .app-demo__bottom-line {
    height: 560px;
  }
  main .app-demo .wrapper .app-demo__bottom-line img {
    top: 0;
  }
}

@media screen and (max-width: 1100px) and (max-width: 769px) and (max-width: 482px) and (max-width: 380px) {
  main .app-demo .wrapper .app-demo__bottom-line {
    height: 480px;
  }
}

main .works {
  padding: 5% 0;
}

main .works h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #000000;
}

main .works .works__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .works .works__steps .works__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .works .works__steps .works__card .works__card-img {
  max-width: 60%;
  margin-left: -5%;
}

main .works .works__steps .works__card .works__card-text {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: -5%;
}

main .works .works__steps .works__card .works__card-text h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #FA4A0C;
  margin-bottom: 3%;
}

main .works .works__steps .works__card .works__card-text h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #252B42;
  margin-bottom: 3%;
}

main .works .works__steps .works__card .works__card-text p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #737373;
  line-height: 2rem;
  max-width: 80%;
}

main .works .works__steps .works__card:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .works .works__steps .works__card:nth-child(2) .works__card-img {
  margin-left: 0;
}

main .works .works__steps .works__card:nth-child(2) .works__card-text {
  margin-left: 5%;
}

@media screen and (max-width: 769px) {
  main .works h2 {
    font-size: 1.5rem;
    margin: 0 0 15% 0;
  }
  main .works .works__steps .works__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .works .works__steps .works__card .works__card-img {
    margin-left: 15%;
    max-width: 100%;
  }
  main .works .works__steps .works__card .works__card-text {
    text-align: center;
    margin-left: 0;
    margin-bottom: -10%;
  }
  main .works .works__steps .works__card .works__card-text h4 {
    font-size: 1.5rem;
  }
  main .works .works__steps .works__card .works__card-text h3 {
    font-size: 2.6rem;
  }
  main .works .works__steps .works__card .works__card-text p {
    max-width: 100%;
  }
  main .works .works__steps .works__card:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .works .works__steps .works__card:nth-child(2) .works__card-img {
    margin-left: 19%;
  }
}

@media screen and (max-width: 769px) and (max-width: 482px) {
  main .works .wrapper .works__steps .works__card .works__card-text h4, main .works .wrapper .works__steps .works__card .works__card-text h3 {
    margin-bottom: 8%;
  }
}

main .download-app {
  background: url("../img/download_bg.png") 0 0/cover no-repeat;
  padding: 10% 0;
}

main .download-app h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 5%;
}

main .download-app h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 5%;
}

main .download-app .download-app__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  margin: 0 auto;
}

main .download-app .download-app__buttons a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  padding: 5% 13%;
  border: 1px solid white;
  border-radius: 15px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

main .download-app .download-app__buttons a:hover {
  background-color: #FA4A0C;
  border: 1px solid #FA4A0C;
}

@media screen and (max-width: 1065px) {
  main .download-app .download-app__buttons {
    width: 50%;
  }
}

@media screen and (max-width: 1065px) and (max-width: 769px) {
  main .download-app {
    background: #252B42 0 0/cover no-repeat;
  }
  main .download-app .download-app__buttons {
    width: 80%;
  }
}

@media screen and (max-width: 1065px) and (max-width: 769px) and (max-width: 769px) {
  main .download-app h2, main .download-app h4 {
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 1065px) and (max-width: 769px) and (max-width: 769px) and (max-width: 482px) {
  main .download-app .download-app__buttons a {
    padding: 5% 6%;
  }
}

footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 224px;
}

footer .footer__container .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 13%;
}

footer .footer__container .footer__social a {
  font-size: 2.5rem;
  color: #FA4A0C;
}

footer .footer__container .footer__copyright {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #5C5C5C;
}

@media screen and (max-width: 1065px) {
  footer .footer__container .footer__social {
    width: 20%;
  }
}

@media screen and (max-width: 1065px) and (max-width: 1065px) {
  footer .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .footer__container img {
    display: none;
  }
  footer .footer__container .footer__social {
    width: 50%;
  }
}
